body {
    color: coral;
}

.choice-container{
display:flex;
margin-bottom: 0.8rem;
width: 100%;
border-radius: 4px;
background-color: teal ;
font-size: 3rem;
min-width: 80rem;
}

.choice-container:hover{
cursor: pointer;
box-shadow: 0 0.4rem 1.4rem chocolate;
transform: scale(1.03);
transform: transform 100ms;
}

.choice-prefix{
    padding: 2rem 2.5rem;
    color: chocolate;
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct{
    backgroud:linear-gradient(32deg,rgb(48, 239, 51) 0%,rgb(82, 243, 46)100%);
}

.incorrect{
    backgroud:linear-gradient(32deg,rgb(233, 73, 56) 0%,rgb(254, 5, 5)100%);
}

/*hehe*/
#hud {
    display: flex;
    justify-content:space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text{
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(48, 239, 51);
    margin-top: 2rem;
    border-radius: 55px;
    overflow: hidden;

}

#progressBarFull{
    height: 100%;
    backgroud: rgb(48, 239, 51);
    width: 0%
}




@media screen and (max-width:768px){
    .choice-container{
        mid-width: 40px;
    }
}